.welcome-card {
    max-width: 500px;
    width: 100%;
    padding: 16px;

    // Subtle lift effect
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.custom-header {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    flex-wrap: wrap;
}

.header-icon {
    background-color: var(--mat-sys-primary); // Uses the cyan theme color
    color: var(--mat-sys-on-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.intro-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 24px;
}

.info-points {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;

    .point {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;

        mat-icon {
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }
}